body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #20035e;
    color: white;
}
h1{
    font-size: 48px;
    margin: 0;
    margin-top: 25px;
    margin-left: 25px;
    letter-spacing: 5px;;
}
h2{
    font-size: 32px;
}
h3{
    display: flex;
    flex-direction: column;
    font-size: 28;
    align-items: center;
    margin: 0;
    color: whitesmoke
}
#Odin{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 850px;
    margin: 35px;
    margin-top: 50px;
    padding-left: 30px;
    border: 10px solid lightcyan;
    border-radius: 40px;
}
a{
    color: #d1fcff;
}
li{
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.5;
    padding: 5px;
}
